label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

em {
  color: red;
  font-weight: bold;
  padding-right: .25em;
}
